@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

:root {
	--width-col: 25.0vw;
	--width-gut: 5.0vw;
	--base-pink: rgb(228, 54, 205);
}

*{
	box-sizing: border-box;
}

html{

}

body{
	margin: 0;
	font-weight: 500;
	font-family: 'Abel', 'M PLUS Rounded 1c', '游ゴシック' ,sans-serif;
	color: rgb(32, 32, 32);
}

menu{
	padding: 0;
	margin: 0;
	width: 100%;
}

input{display: none;}

input[type="date"]::-webkit-inner-spin-button{
	-webkit-appearance: none;
}

input[type="date"]::-webkit-clear-button{
	-webkit-appearance: none;
}

select{
	box-sizing: border-box;
	position: relative;
	margin: 0;
	font-family: 'Abel', 'M PLUS Rounded 1c', '游ゴシック' ,sans-serif;
	font-size: 2.8vw;
	font-weight: 500;
	letter-spacing: 0.4vw;
	color: rgb(32, 32, 32);
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

p{
	margin: 0vw;
}

a{
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img{
	margin: 0;
	padding: 0;
}

dl,dt,dd{ margin: 0; }

h1{
	margin: 0;
	text-align: center;
	font-weight: 500;
}

.material-icons-round{
	vertical-align: bottom;
}

.Le{background: rgb(96, 45, 155);}
.Pi{background: rgb(230, 85, 28);}
.Pa{background: rgb(228, 54, 205);}
.Md{background: rgb(34, 150, 19);}
.St{background: rgb(204, 18, 18);}
.Vi{background: rgb(89, 81, 241);}
.Co{background: #945f29;}
.Dr{background: #2ea8d3;}
.Se{background: #a6b2b5;}
.SP{background: #d0c315;}

.caution{
	color: rgb(13, 110, 236)!important;
	text-decoration: underline;
}

#freeword.inputted,
#area-list.selected,
#datepicker.inputted,
#select_shop.inputted{
	border: 1px solid rgb(35, 156, 255);
}


::-webkit-scrollbar{
	display:none;
}